# 空氣污染監測網 網路爬蟲實作練習


* 能夠利用 selenium + BeautifulSoup 撰寫爬蟲，並存放到合適的資料結構

## 作業目標

根據範例 ，完成以下問題：

* ① 取出 台北市士林區 2018/01 – 2018/08 的 SO2 資料
* ② 取出 台北市士林區 2018/01 – 2018/08 的 SO2、CO 資料

In [30]:
# My Code
from selenium import webdriver
from selenium.webdriver.support.ui import Select
from bs4 import BeautifulSoup

browser = webdriver.Chrome(executable_path='chromedriver')
browser.get("http://taqm.epa.gov.tw/taqm/tw/MonthlyAverage.aspx")

In [31]:
# 模擬使用者操作行為，選擇/點擊
selectSite = Select(browser.find_element_by_id("ctl05_ddlSite"))
selectSite.select_by_value('11')
selectYear = Select(browser.find_element_by_id("ctl05_ddlYear"))
selectYear.select_by_value('2018')

browser.find_element_by_id('ctl05_btnQuery').click()

In [32]:
def is_number(s):
    try:
        float(s)
        return True
    except ValueError:
        pass
 
    try:
        import unicodedata
        unicodedata.numeric(s)
        return True
    except (TypeError, ValueError):
        pass
 
    return False

# From https://www.runoob.com/python3/python3-check-is-number.html

### ① 取出 台北市士林區 2018/01 – 2018/08 的 SO2 資料

In [33]:
# 取得資料（等瀏覽器資料出現後才執行）
html_source = browser.page_source
soup = BeautifulSoup(html_source, 'html.parser')
table = soup.find('table', class_='TABLE_G')

In [34]:
# My Code
data = dict()
rows = dict()
flag_SO2 = 0

for i in table.find_all('td'):
    text = i.text
    
    if flag_SO2 and '2018/09' in text:
        data[dataKey] = rows
        break
    
    if flag_SO2 and '/' in text and text != 'μg/m3':
        rowsKey = text
    elif is_number(text):
        rows[rowsKey] = text
        
    if (text == 'SO2'):
        flag_SO2 = 1
        dataKey = text

In [35]:
print(data)
import pandas as pd
pd.DataFrame(data)

{'SO2': {'2018/01': '1.80', '2018/02': '1.90', '2018/03': '2.20', '2018/04': '2.30', '2018/05': '3.10', '2018/06': '2.70', '2018/07': '2.20', '2018/08': '2.40'}}

          SO2
2018/01  1.80
2018/02  1.90
2018/03  2.20
2018/04  2.30
2018/05  3.10
2018/06  2.70
2018/07  2.20
2018/08  2.40

### ② 取出 台北市士林區 2018/01 – 2018/08 的 SO2、CO 資料

In [39]:
# My Code
data = dict()
rows = dict()
flag_SO2 = 0

for i in table.find_all('td'):
    text = i.text
    
    if flag_SO2 and '2018/09' in text:
        data[dataKey] = rows
        break
    
    if flag_SO2 and '/' in text and text != 'μg/m3':
        rowsKey = text
    elif is_number(text):
        rows[rowsKey] = text
        
    if (text == 'SO2'):
        flag_SO2 = 1
        dataKey = text

In [40]:
# My Code
rows = dict()
flag_CO = 0

for i in table.find_all('td'):
    text = i.text
    
    if flag_CO and '2018/09' in text:
        data[dataKey] = rows
        break
    
    if flag_CO and '/' in text and text != 'μg/m3':
        rowsKey = text
    elif is_number(text):
        rows[rowsKey] = text
        
    if (text == 'CO'):
        flag_CO = 1
        dataKey = text

In [41]:
print(data)
pd.DataFrame(data)

{'SO2': {'2018/01': '1.80', '2018/02': '1.90', '2018/03': '2.20', '2018/04': '2.30', '2018/05': '3.10', '2018/06': '2.70', '2018/07': '2.20', '2018/08': '2.40'}, 'CO': {'2018/08': '0.30', '2018/01': '0.34', '2018/02': '0.44', '2018/03': '0.40', '2018/04': '0.38', '2018/05': '0.34', '2018/06': '0.29', '2018/07': '0.21'}}

          SO2    CO
2018/01  1.80  0.34
2018/02  1.90  0.44
2018/03  2.20  0.40
2018/04  2.30  0.38
2018/05  3.10  0.34
2018/06  2.70  0.29
2018/07  2.20  0.21
2018/08  2.40  0.30